<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>제품리뷰 관리자페이지</title>
</head>
<body>
<ul>
     <li><a href="/craw/list">크롤링키워드목록</a></li>
     <li><a href="/craw/naver">전체크롤링</a></li>
     <li><a href="/craw/clear">크롤링데이터 정리</a></li>
</ul>
<h1>크롤링 데이터 정리하기</h1>
  <hr/>
</body>
</html>